@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;500;600&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

:root {
    --red: #d63a25;
    --white: #fff;
    --dark: #1e1c2a;
}

body {
    color: var(--dark);
    background: var(--white);
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 40px;
    box-shadow: 0 0.1rem 0.5rem #ccc;
    width: 100%;
    background: var(--white);
    transition: all 0.5s;
    position: fixed;
}

.navigation .logo {
    color: var(--red);
    font-size: 1.7rem;
    font-weight: 600;
}

.logo span {
    color: var(--dark);
}

.navigation ul {
    display: flex;
    align-items: center;
    gap: 5rem;
}

.navigation ul li a {
    color: var(--dark);
    font-size: 17px;
    font-weight: 500;
    transition: all 0.5s;
}

.navigation ul li a:hover {
    color: var(--red);
}

.navigation i {
    cursor: pointer;
    font-size: 1.5rem;
}

.menu {
    cursor: pointer;
    display: none;
}

.menu .bar {
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 3px;
    background: var(--dark);
    margin: 5px auto;
    transition: all 0.3s;
}

.menu .bar:nth-child(1),
.menu .bar:nth-child(3) {
    background: var(--red);
}

.home {
    width: 100%;
    height: 110vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10%;
    box-shadow: 0 0.1rem 0.5rem #f78273e5;
}

.sobre {
    width: 100%;
    height: 110vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10%;
    box-shadow: 0 0.1rem 0.5rem #f78273e5;
}


.home-text {
    max-width: 37rem;
}

.home-text .text-h4 {
    font-size: 1.5rem;
    color: var(--red);
    margin-bottom: 1rem;
}

.home-text .text-h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
    line-height: 4rem;
}

.home-text p {
    margin-bottom: 4rem;
}

.home-btn {
    padding: 15px 45px;
    background: var(--red);
    color: var(--white);
    border-radius: 10px;
    font-weight: 700;
    transition: all 0.5s;
}

.home-btn:hover {
    background: #fc4c35;
}

.home-img img {
    width: 100%;
}


.sobre-text {
    max-width: 37rem;
}

.sobre-text .text-h4 {
    font-size: 1.5rem;
    color: var(--red);
    margin-bottom: 1rem;
}

.sobre-text .text-h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
    line-height: 4rem;
}

.sobre-text p {
    margin-bottom: 4rem;
}

.sobre-btn {
    padding: 15px 45px;
    background: var(--red);
    color: var(--white);
    border-radius: 10px;
    font-weight: 700;
    transition: all 0.5s;
}

.sobre-btn:hover {
    background: #fc4c35;
}

.sobre-img img {
    width: 100%;
    height: auto;
    /* Mantém a proporção original da imagem */

}

.sobre-img img.img2 {
    width: 350px;
    /* Substitua 300px pelo valor desejado */
    height: auto;
    /* Mantém a proporção original da imagem */
}



.fornecimento {
    height: 110vh;
    display: grid;
    align-items: center;
    justify-content: space-between;
    padding: 90px 10% 0;
    box-shadow: 0 0.1rem 0.5rem #f78273e5;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;



}

.fornecimento-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    /* Ajusta as colunas para 1/3 e 2/3 */
}

.fornecimento-item {

    /* border: 1px solid #ddd;  */
    border-radius: 2%;
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); */
    padding: 2px;
    box-sizing: border-box;
    display: flex;
    /* Adiciona flex para alinhar imagem e texto horizontalmente */
    flex-direction: row;
    /* Define a direção do flex para linha (horizontal) */
    margin-bottom: 10px;
    background-color: #fff;
}

.fornecimento img {
    margin: auto;
    /* Adiciona margem automática para centralizar a imagem */
    padding: 4px;
    /* border: 2px solid #3498db; */
    height: 100%;
    /* Ajusta a altura para 100% para cobrir a altura da div */
    width: 100%;
    /* Ajusta a largura para 100% para cobrir a largura da div */
    object-fit: cover;
    /* Mantém a proporção da imagem e cobre completamente a área */
    display: block;
    /* Torna a imagem um bloco para alinhar corretamente */
    object-fit: contain
}


.fornecimento-text {
    /* border: 2px solid #3498db; */
    margin-left: 5px;
    padding: 1px;
    width: 220px;
    height: 150px;
    /* Altura fixa desejada para .fornecimento-text */
    /* overflow-y: auto; Adiciona uma barra de rolagem vertical se o conteúdo ultrapassar a altura fixa */
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
}


/* Adicionei estilos para o texto na seção .fornecimento */
.fornecimento-text h3 {
    height: 30px;
    /* Altura fixa desejada para .fornecimento-text */

    color: #fc4c35;

    font-size: 1, 5vw;
    /* Tamanho da fonte para o título em relação à largura da viewport */
    margin-bottom: 5px;
    /* Adiciona espaçamento inferior */
}

.fornecimento-text p {


    font-size: 1em;
    /* Tamanho da fonte em relação ao tamanho do elemento pai */
    font-weight: 600;
    /* Espessura da fonte usando um valor numérico (700 para negrito) */

    flex-grow: 1;
    /* Faz o parágrafo ocupar o espaço restante */
    flex-shrink: 0;
    /* Impede que o texto do parágrafo reduza o tamanho da sua div */
    margin-bottom: 1px;
    /* Adiciona espaçamento inferior */
    word-break: break-word;
    /* Quebra a palavra para a próxima linha se necessário */




}

.fornecimento-text p::before {
    content: "\2022";
    color: var(--red);
    font-size: 1, 5em;
    margin-right: 5px;
    border: none;
    /* Remova a borda da bolinha */

}

.fornecimento-text-armazenamento-P {
    font-size: 0, 4em;
    /* Tamanho da fonte em relação ao tamanho do elemento pai */
    font-weight: 600;
    /* Espessura da fonte usando um valor numérico (700 para negrito) */

}

footer {
    width: 100%;
    color: #f5f5ff;
}

#footer-context {
    background-color: #f5f5ffad;
    /* border: 1px solid rgb(255, 251, 0);  */
}

#footer-format {
    display: flex;
    gap: 5px;
    /* Reduz a lacuna entre os itens */
    padding: 0.5rem 3.5rem;
    /* Reduz o preenchimento vertical */
    max-width: 1000px;
    /* Defina um valor máximo para evitar que os itens do rodapé se estendam demais */
    /* margin: auto; Adiciona margem automática para centralizar o grid na tela */
    max-height: 100px;
    /* Define uma altura máxima para o rodapé */
    overflow-y: auto;
    /* Adiciona uma barra de rolagem vertical caso o conteúdo do rodapé seja maior que a altura máxima */
    justify-content: flex-start;

}

#footer-item {
    display: grid;
    grid-template-columns: 20% 80%;
    /* Define a largura das colunas */
    gap: 0px;
    /* Espaçamento entre as colunas */
    /* border: 1px solid rgb(72, 255, 0);  */
    padding: 1px;
    /* Adiciona um preenchimento para separar a borda do conteúdo */
    align-items: center;
    /* Alinha os itens verticalmente */
    width: 100%;
    /* Define a largura do item para ocupar todo o espaço disponível */
    justify-self: flex-start;
    /* Alinha o item à esquerda */
}

#footer-logo {
    width: 100%;
    /* border: 1px solid rgb(0, 4, 255); Adiciona uma borda vermelha a todas as divs dentro de #footer-contato */
    padding: 5px;
    /* Adiciona um preenchimento para separar a borda do conteúdo */
}

#footer-contato {
    display: flex;
    /* Para alinhar os itens dentro das colunas */
    flex-direction: column;
    /* Empilha os itens verticalmente */
    padding: 1px;
    /* Adiciona um preenchimento para separar a borda do conteúdo */
    /* border: 1px solid red; Adiciona uma borda vermelha a todas as divs dentro de #footer-contato */
    justify-content: center;
    /* Centraliza os itens verticalmente */
}

#footer-contato>div {
    margin-bottom: 5px;
    /* Espaçamento entre as divs */
    /* border: 1px solid red; Adiciona uma borda vermelha a todas as divs dentro de #footer-contato */
}

.footer-logo-img img {
    height: auto;
    width: 80%;
}

/* Estilos para as divs */
.footer-contato-mail,
.footer-contato-wpp,
.footer-contato-tell {
    display: flex;
    /* Usa flexbox */
    align-items: center;
    /* Alinha os itens verticalmente */
    margin-bottom: 10px;
    /* Adiciona espaçamento entre as divs */
    /* border: 1px solid rgb(255, 251, 0);  */
}

/* Estilos para os ícones */
.footer-contato-mail i,
.footer-contato-wpp i,
.footer-contato-tell i {
    margin-right: 10px;
    /* Espaçamento à direita do ícone */
    color: #333;
    /* Cor original do ícone */
    background-color: transparent;
    /* Define o fundo como transparente */
    /* border: 1px solid rgb(255, 0, 0);  */
    font-size: 15px;
    /* Define o tamanho do ícone */
}

.footer-contato-wpp i {
    font-size: 18px;
    /* Aumenta o tamanho do ícone apenas para a classe .footer-contato-wpp */
}

/* Estilos para os textos */
.footer-contato-mail span,
.footer-contato-wpp span,
.footer-contato-tell span {
    font-size: 10px;
    /* Tamanho da fonte */
    color: #333;
    /* Cor do texto */
    font-weight: bold;
    /* Peso da fonte */
    margin-left: 0;
    /* Remove a margem à esquerda */
    /* border: 1px solid rgb(255, 0, 221);  */
}

#footer-endereco {

    /* Adiciona um preenchimento para separar a borda do conteúdo */
    align-items: center;
    /* Alinha os itens verticalmente */
    width: 100%;
    /* Define a largura do item para ocupar todo o espaço disponível */
    justify-self: flex-start;
    border: 2px solid;
}

#footer-endereco p {
    color: #333; /* Cor do texto desejada */
    font-size: 12px; /* Tamanho da fonte */
    margin-bottom: 5px; /* Espaçamento inferior entre os parágrafos */
}

#footer-endereco p:last-child {
    margin-bottom: 0; /* Remover o espaçamento inferior do último parágrafo */
}

#footer-copyright {
    background-color: #fcc3bb;
    text-align: center;
    justify-content: center;
}

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    /* Cor de fundo alterada */
    border: 2px solid #f3b0a7;
    /* Adicione o tipo de borda (solid) e a largura da borda (2px) */

    padding: 30px;
    /* Reduzido o padding */
    padding-top: 1px;
    width: 500px;
    /* Largura reduzida do modal */
    max-width: 100%;
    /* Definindo uma largura máxima para o modal */
    max-height: 80%;
    /* Definindo uma altura máxima para o modal */
    overflow-y: auto;
    /* Adiciona uma barra de rolagem vertical se necessário */
    z-index: 1001;
}

.modal-content {
    position: relative;
}

.close {
    position: absolute;
    top: 1px;
    right: 10px;
    cursor: pointer;
    color: #000000;
    /* Cor do ícone de fechar */
    font-size: 40px;
    /* Tamanho do ícone de fechar */
}

/* Estilos para o formulário dentro do modal */
.modal form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.modal-bg {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Cor de fundo semi-transparente */
    z-index: 1000;
}

.modal h2 {
    color: #414141;
    ;
    /* Cor do título */
    font-size: 2rem;
    /* Tamanho do título */
    margin: 1rem auto;
    /* Centraliza o título */
}

.modal label {
    color: #000000;
    ;
    font-size: 17px;
    margin-bottom: 4px;
}

.modal input,
.modal textarea {
    padding: 10px;
    outline: none;
    border-color: #d63a25;
    border: 2px solid #d63a25;
    /* Adicione o tipo de borda (solid) e a largura da borda (2px) */
    margin-bottom: 20px;
    font-size: 15px;
    transition: all 0.5s;
    background-color: #ffffffe5;
    color: #080808;
    max-width: calc(100% - 20px);
    /* Define uma largura máxima considerando o padding de 15px em cada lado */
    resize: vertical;
    /* Permite a redimensionamento vertical */
}

.modal input:focus,
.modal textarea:focus {
    border-radius: 10px;
}

.modal button {
    padding: 10px;
    cursor: pointer;
    max-width: calc(100% - 20px);
    /* Define uma largura máxima considerando o padding de 15px em cada lado */
    font-size: 16px;
    background: transparent;
    border: 2px solid #d63a25;
    background-color: #ffffff;
    transition: all 1s;

    margin-bottom: 2px;
}

.modal button:hover {
    background: #d63a25;
    ;
    color: #ffffff;
    border-radius: 16px;
}

.modal button.submit-btn {
    color: #ff0000;
    /* Cor do texto do botão */
}

@media (max-width:785px) {
    .navigation {
        padding: 18px 20px;
    }

    .menu {
        display: block;
    }

    .menu.ativo .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .menu.ativo .bar:nth-child(2) {
        opacity: 0;
    }

    .menu.ativo .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        right: -100%;
        top: 70px;
        width: 100%;
        height: 100%;
        flex-direction: column;
        background: var(--white);
        gap: -10px;
        transition: 0.3s;
    }



    .nav-menu.ativo {
        right: 0;
    }

    .nav-item {
        margin: 16px 0;
    }



    /*main*/
    .home {
        padding: 100px 2%;
        flex-direction: column;
        text-align: center;
        overflow: hidden;
        gap: 5rem;
    }

    .home .text-h4 {
        font-size: 15px;
    }

    .home .text-h1 {
        font-size: 0, 5rem;
        line-height: 2rem;
    }

    .home p {
        font-size: 15px;
    }

    .home-img {
        width: 125%;
    }

    .sobre {
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 10%;
    }

    .sobre-text {
        max-width: 37rem;
    }

    .sobre-text .text-h4 {
        font-size: 1.5rem;
        color: var(--red);
        margin-bottom: 1rem;
    }

    .sobre-text .text-h1 {
        font-size: 4rem;
        margin-bottom: 1rem;
        line-height: 4rem;
    }

    .sobre-text p {
        margin-bottom: 4rem;
    }

    .sobre-btn {
        padding: 15px 45px;
        background: var(--red);
        color: var(--white);
        border-radius: 10px;
        font-weight: 700;
        transition: all 0.5s;
    }

    .sobre-btn:hover {
        background: #fc4c35;
    }

    .sobre-img img {
        width: 150%;
        /* margin-left: 10%; */
    }

    #footer_content {
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;
    }

    @media (max-width: 768px) {
        .footer-item {
            flex-basis: 100%;
            /* Define a largura de cada item em telas menores */
        }

    }

    @media screen and (max-width: 426px) {
        #footer_content {
            grid-template-columns: repeat(1, 1fr);
            padding: 3rem 2rem;
        }
    }
}

@media screen and (max-width: 768px) {
    #footer-item {
        grid-template-columns: 1fr;
        /* Altera para uma única coluna em telas menores */
        padding: 10px;
        /* Aumenta o espaçamento interno */
        width: 100%;
        /* Define a largura para ocupar toda a largura da tela */
    }
}